@charset "utf-8";
@import url("normalize.css");
@import url("reset.css");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #555;
}

.container {
  background: #bbb;
  min-height: 200vh;
  width: 1000px;
  margin: 0 auto;
}

.header {
  background: yellow;
  min-height: 200px;
}

.logo {
  position: fixed;
  left: 0;
  display: inline;
  border: 1px solid blue;
  font-size: 2.0rem;
}

.main-content {
  display: flex;
  background: green;
  margin: 0 auto;
  justify-content: space-around;
}

.news {
  flex: right;
  background: aqua;
  margin: 10px;
  order: 1;
  right: 100px;
  width: 300px;
  height: 300px;
}

.rank {
  width: 300px;
  height: 300px;
  background: olive;
  margin: 10px;
}

.personel {
  background: violet;
  position: relative;
  right: 20px;
  margin: 10px;
  width: 300px;
  height: 300px;
}

.footer {
  background: red;
}

.info-list li {
  border: 1px solid black;
}

.info-1 {
  position: absolute;
  top: 200px;
}

.info-3 {
  position: relative;
  top: 90px;
}